@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', sans-serif;
  @apply bg-main text-body antialiased;
}

body {
  @apply overflow-y-scroll;
}

#__next {
  height: 100%;
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-pc px-7 md:px-11;
  }
}

.forceStroke > path,
g {
  stroke: currentColor;
}

@media (max-width: 768px) {
  br.mobile {
    display: none;
  }
}
