header {
    position: fixed;
    width: 100%;
    background: @globalColors[backgroundDefault];
    z-index: 10;

    &.compact {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: @globalWidths[desktop];
    margin: 0px auto;
    padding: 24px;
    transition: padding 0.2s;

    @media (max-width: @globalWidths[mobile]) {
        padding: 20px;
    }
}

.compact .content {
    padding-top: 12px;
    padding-bottom: 12px;

    @media (max-width: @globalWidths[mobile]) {
        padding: 12px;
    }
}

.logo {
    white-space: nowrap;
}

.logoImage {
    display: inline-block;
    vertical-align: middle;

    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        transition: width 0.2s, height 0.2s;

        @media (max-width: @globalWidths[mobile]) {
            width: 54px;
            height: 54px;
        }
    }
}

.compact .logoImage {
    img {
        width: 36px;
        height: 36px;
    }
}

.logoSplitter {
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 60px;
    background: @globalColors[conversion];
    margin: 0px 20px;
    transition: height 0.2s;

    @media (max-width: @globalWidths[mobile]) {
        margin: 0px 17px;
        height: 50px;
    }
}

.compact .logoSplitter {
    width: 3px;
    height: 32px;
    margin: 0px 12px;
}

.logoText {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 2px;

    h1 {
        font-size: 24px;

        @media (max-width: @globalWidths[mobile]) {
            font-size: 20px;
        }
    }
}

.subtitle {
    font-size: 18px;
    font-weight: 500;

    @media (max-width: @globalWidths[mobile]) {
        font-size: 15px;
    }
}

.compact .logoText {
    h1 {
        font-size: 20px;
    }

    .subtitle {
        display: none;
    }
}

.links {
    white-space: nowrap;
}

.link {
    &:last-child {
        margin-left: 40px;

        @media (max-width: @globalWidths[mobile]) {
            margin-left: 16px;
        }
    }

    &:hover .linkName {
        text-decoration: underline;
    }
}

.linkIcon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 12px;

    @media (max-width: @globalWidths[mobile]) {
        width: 26px;
        height: 26px;
        margin-right: 0px;
    }

    path {
        fill: #333333;
    }
}

.linkName {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 0px;
    color: @globalColors[text];
    font-size: 16px;
    font-weight: 500;

    @media (max-width: @globalWidths[mobile]) {
        display: none;
    }
}
